body {
  height: 96vh;
  width: 99%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: auto;
  gap: 50px;
  border: 1px solid red;
  /* Adjust the height as needed */
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px
}

button {
  font-size: 20px;
  text-align: center;
  height: 40px;
  width: 50px;
}

button#zero {
  width: calc((45px * 3) + 35px);
}

div.top {
  border: 1px solid red;
}

div.text {
  font-size: 25px;
  width: 290px;
  height: 40px;
}

div#bottom {
  display: flex;
  justify-content: end;
  align-items: end;
}

div.bottom {
  border: 1px solid red;
}