@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #303952;

  border-radius: 10px;
  box-shadow: 0px 0px 16px #596275;

  width: 100%;
  max-width: 360px;
  min-height: 360px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.display {
  border-radius: 10px;

  min-height: 125px;
  padding-bottom: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  /* border: 1px solid white; */
}

.display .bottom_display {
  font-size: 2rem;
}

.keys {
  background-color: #574b90;
  border-radius: 10px;
  box-shadow: 0px -2px 1rem rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

  /* border: 1px solid red; */
}

.key {
  position: relative;
  cursor: pointer;

  height: 0;
  padding-top: 100%;
  border-radius: 10px;
  /* margin: 2px; */
  font-size: 1.5rem;

  user-select: none;

  /* border: 0.5px solid #303952; */
}

.key:hover {
  transition-duration: .2s;
  background-color: #786fa657;
}

.key:active {
  background-color: #786fa697;
  /* box-shadow: inset 0px 0 10px #786fa633; */
}

.key span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.key .action {
  color: #cf6a87;
}

.key .operator {
  color: #f7d794;
}